@keyframes animacion1 {
    from {
        margin-left: 85vw;
    }

    to {
        margin-left: 0;
    }
}
@keyframes animacion2 {
    from {
        margin-right: 85vw;
    }

    to {
        margin-right: 0;
    }
}


body {
    background-image: url("images/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
   
}
.todo {
    background-image: url("images/fondo2.jpg");
    align-content: center;
    margin: 0px 200px;
    justify-content: center;
    font-family: 'Cracked Johnnie';
}
.titulo1 {
    align-content: center;
    font-family: Cracked Johnnie;
    font-size: 48px;
    margin: 0px 0px;
    background-color: rgb(255, 0, 0);
    animation: animacion1;
    animation-duration: 6s;
}
.titulo2 {
    align-content: center;
    font-family: Cracked Johnnie;
    font-size: 48px;
    margin: 0px 0px;
    background-color: aliceblue;
    animation: animacion2;
    animation-duration: 6s;
}
.titulo3 {
    align-content: center;
    font-family: Cracked Johnnie;
    font-size: 48px;
    margin: 0px 0px;
    background-color: rgb(45, 169, 9);
    animation: animacion1;
    animation-duration: 6s;
}
.titulo4 {
    align-content: center;
    font-family: Cracked Johnnie;
    font-size: 48px;
    margin: 0px 0px;
    background-color: #FFA07A;
    animation: animacion2;
    animation-duration: 6s;
}
.titulo5 {
    align-content: center;
    font-family: Cracked Johnnie;
    font-size: 48px;
    margin: 0px 0px;
    background-color: chocolate;
    animation: animacion1;
    animation-duration: 6s;
}
.contacto {
}

.subtitulo {
    margin: 0px 250px;
    font-family: 'Lucida Sans';
    font-size: 45px;
}
.s {
    margin: 0px 220px;
}




